/*
Theme Name: Fondazione Di Liegro
Description: Tema personalizzato
Author: Manafactory
Version: 1.0.0
Text Domain: elevation
Template: elevation
*/

span.lingue { display:none; }
.wpml-ls-legacy-list-horizontal {
    border: none!important;
    padding: 0!important;
    clear: none!important;
    float: right!important;
	margin-left: 30px!important;
    margin-right: -30px;
	}

.testobianco {
	color: #fff!important;
}

.about-bottom .section-padding {
    padding: 100px 0!important;
}

.navbar-default .navbar-nav .dropdown li a,
.navbar-default .navbar-nav .sub-menu li a {
	padding:10px 20px!important;
    line-height: 16px!important;
}

.navbar-nav li .dropdown,
.navbar-nav li .sub-menu {
	/*margin-top:-16px!important;*/
}


ul.dropdown-menu a.dropdown-toggle {
	display:none!important;
}
ul.dropdown-menu li {
	display:block!important;
}

.navbar-nav li .dropdown>li>a,
.navbar-nav li .sub-menu>li>a {
    font-size: 12px!important;
}

.dropdown-menu>li>a:hover {
	background-color:#ddd!important;
}


.tribe-events-tooltip .tribe-events-event-body {
	padding: 0 0 10px 0 !important;
}

.tribe-events-tooltip h3.entry-title.summary {
	font-size: 16px !important;
}

.tribe-events-list-widget .tribe-events-list-widget-events {
    padding: 0!important;
}

.tribe-events-list-widget .tribe-list-widget {
    margin-left: 0!important;
    padding: 0!important;
}

div#partner {
    float: right;
    margin-top: -1px;
    margin-left: 15px;
	margin-right: -20px;
}

.blog .blog-post {
    background-color: #eceff1;
    overflow: hidden;
}

footer p, footer li {
	color:#999!important;
}

.header-top .phone-no {
    color: #f2f2f2 !important;
}

body.home .blog div.btn-container a.btn-sm {
	display:none;
}

.post-tag span {
    display: none!important;
}

.vc_grid-pagination .vc_grid-pagination-list.vc_grid-pagination_square>li>a {
	font-size:16px!important;
	padding: 10px 20px!important;
}

li.vc_grid-prev a, li.vc_grid-next a {
	padding: 9px 20px!important;
}

.btn-center .vc_btn3.vc_btn3-color-grey, 
.btn-center .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
    color: inherit !important;
    background-color: transparent !important;
}

.btn-center {
	margin:0 auto!important;
}

.vc_btn3.vc_btn3-color-default, .vc_btn3.vc_btn3-color-default.vc_btn3-style-flat {
    color: inherit !important;
    background-color: transparent !important;
	width:100%;
}

.vc_btn3.vc_btn3-color-default.vc_btn3-style-flat:focus, .vc_btn3.vc_btn3-color-default.vc_btn3-style-flat:hover, .vc_btn3.vc_btn3-color-default:focus, .vc_btn3.vc_btn3-color-default:hover {
    color: inherit !important;
    background-color: transparent !important;
}

.vc_btn3.vc_btn3-size-md {
	padding:0!important;
	margin-top:-5px!important;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

.col-md-3 .widget_nav_menu li {
	margin-left:20px;
}

.col-md-3 .widget_nav_menu li a {
	text-transform: none!important;
}

.col-md-3 .widget_nav_menu li a:before {
    content: "\f105";
    font-family: FontAwesome;
	left: 15px;
	position:absolute;
	font-style:normal!important;
	}

.col-md-3 .widget_nav_menu li.menu-item-has-children>a:before {
	position: relative;
    top: unset;
    right: unset;
	}

.col-md-3 .widget_nav_menu li.current-menu-item a,
.col-md-3 .widget_nav_menu li.current_page_item a {
	font-weight: bold !important;
	color: #ff5722 !important;
}

.blog-posts .entry-title {
    padding-top: 0!important;
}

span.author {
    display: none;
}

.volontari form label,
.volontari form p {
	width:100%;
	margin-bottom:0;
}

.volontari form {
	padding-top:0;
}

.volontari  span.wpcf7-form-control-wrap.your-message {
    padding-left: 0!important;
}
.wpcf7-form .wpcf7-form-control, .comment-form .form-control, .mc4wp-form-fields input#subscribe-email {
	padding: 10px!important;
}

.citazioni ul {
	margin: 0;
	padding:0;
}

.citazioni li {
	list-style-type: none;
    padding: 0;
    margin: 0 0 20px 30px;
    font-style: italic;
	}

.citazioni li:before {
	content: "\f10d";
    font-family: FontAwesome;
    margin-right: 15px;
    margin-left: -30px;
    font-style: italic;
    color: #ccc;
	}

header.search-header {
    height: 140px;
}

p, li {
	font-family: 'Roboto'!important;
	font-size:15px!important;
	line-height:27px!important;
	font-weight:400!important;
	color: #666666!important;
}

article.hentry p, article.hentry ul { margin-bottom:1em !important; }

.comment-form textarea.form-control { padding-left:60px!important }

.post-blockquote .quote-author {
	color: #666666!important;
}

.post-meta span.comments,
.page .post-tag {
    display: none;
}

.vc_gitem_row .vc_gitem-col {
    padding: 20px 30px 0 !important;
}

.page .blog-posts .entry-title {
    margin-bottom: 1em;
}

.post-bottom {
    padding: 20px 20px 12px!important;
    overflow: hidden;
}

.navbar-brand {
    padding-top: 17px!important;
}

nav#main-menu { 	background-color:#fff!important; }

a.elevation-amount-button { background-color:#999!important; }
a.elevation-amount-button.active {
    background-color: #ea6153 !important;
}
article.causes .donate-btn {
    top: 25px !important;
    left: 0px !important;
}

.navbar-nav li.donate-btn {
     margin-top: 0!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.is-sticky .navbar-nav li.donate-btn {
    margin-top: 0px!important;
	padding: 10px 0!important;
}

.navbar-default .navbar-nav li.btn a {
	color:#fff!important;
}

.vc_row, .vc_row.vc_parallax {
    padding: 0 !important;
}

.about-details .description {
    color: #ffffff!important;
}

.bg-viola {
	background-color: #9b59b6!important;
	color:#fff;
}

.bg-verde {
	background-color: #27ae60!important;
	color:#fff;
}

.bg-arancione {
	background-color: #f39c12!important;
	color:#fff;
}

.bg-viola .vc_btn3.vc_btn3-color-default.vc_btn3-style-modern,
.bg-verde .vc_btn3.vc_btn3-color-default.vc_btn3-style-modern,
.bg-arancione .vc_btn3.vc_btn3-color-default.vc_btn3-style-modern {
	padding:20px !important;
}

a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-flat.vc_btn3-color-mulled-wine {
    padding: 20px!important;
}

.storia {
 padding: 0!important;
}

.storia h4 {
    padding: 10px 0 15px 0;
}

.vc_btn3.vc_btn3-color-danger.vc_btn3-style-modern:focus, .vc_btn3.vc_btn3-color-danger.vc_btn3-style-modern:hover {
    color: #f7f7f7 !important;
}

.vc_general.vc_cta3.vc_cta3-color-white.vc_cta3-style-classic .vc_cta3-content-header {
    color: #000!important;
}

.vc_general.vc_cta3.vc_cta3-color-white {
	/*background-color: #fff!important;*/
}

body.single-post .main-content {
    padding-top: 20px!important;
}

.titoli-news a {
    color: #000 !important;
    font-weight: bold !important;
    font-size: 1em;
}

.one-half,
.one-third {
    position: relative;
    margin-right: 4%;
    float: left;
        margin-bottom: 20px;
 
}
 
.one-half { width: 48%; }
.one-third { width: 30.66%; }
 
.last {
    margin-right: 0 !important;
    clear: right;
}
 
.navbar-toggle {
    margin-top: 25px!important;
}

.helps .item-inner {
    min-height: 430px;
} 

@media (min-width: 992px) {
	
	article.page {
	   margin-top:-65px!important;
	}

}

@media screen and (min-width: 768px) {

	.is-sticky  .navbar-default .navbar-brand>img {
		height: 45px!important;
		width: auto!important;
	}

}

@media screen and (min-width: 768px) and (max-width: 840px) {
	#collapse-menu .navbar-default .navbar-nav li a {
		font-size: 10px !important;
	}

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

	.contact-list a {
		font-size: 12px!important;
	}

	.navbar-default .navbar-brand>img {
		width: auto!important;
		height: 45px !important;
		margin-top: -12px;
	}
	
	.is-sticky .navbar-default .navbar-brand>img {
		height: 45px!important;
		width: auto!important;
		margin-top: -16px;
	}
	
	li.donate-btn {
		display:none!important;
	}

}



@media screen and (max-width: 767px) {
	
	.one-half, .one-third {
        width: 100%;
        margin-right: 0;
    }

	.is-sticky  .navbar-default .navbar-brand>img,
	.navbar-default .navbar-brand>img {
		width: 220px !important;
		height: auto !important;
		margin-bottom: 15px;
	}


	.navbar-nav li.donate-btn, .is-sticky .navbar-nav li.donate-btn {
		height: 40px !important;
		padding: 5px 0 5px 0 !important;
	}

	.navbar-default .navbar-nav li.btn a {
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-top: 0 !important;
	}

	.navbar-collapse.pull-right {
		min-height: 260px !important;
	}

	.navbar-nav {
		margin: 7.5px -15px 50px !important;
	}
	
	.navbar-default .navbar-nav li a {
		font-size: 16px !important;
	}

}



